<!doctype html>
<html>
<head>
	<title>ReadToMe</title>
	<meta charset='utf-8'>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}" type="text/css" media="all">
	{% block head %}{% endblock %}
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	<script src="static/scripts/capture.js"></script>
</head>
<body>

    <div class="contentarea">
    <div class="camera">
        <video id="video">Video stream not available.</video>
        <button id="startbutton">Take photo</button> 
    </div>
    <canvas id="canvas">
    </canvas>
    <div class="output">
        <img id="photo" alt="The screen capture will appear in this box."> 
    </div>
    </div>
    <script>
        function (id) {
            var img = document.createElement("img");
            img.src = "/project/scanned.jpg";
            var block = document.getElementById(id);
            block.appendChild(img);
        }
        var img = new File("/project/scanned.jpg");
        while (True) {
            if (img.exists()) {
                function(image)
                break
            }

        }
    </script>

</body>
</html>