<!doctype html>
<html>
<head>
	<title>ReadToMe</title>
	<meta charset='utf-8'>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}" type="text/css" media="all">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
</head>
<body>

    <a href="/cam">
        <div id="div1" onclick="select('Food Menu')">
          <p id="a">Food Menu</p>
        </div>
      </a>
      <a href="/settings">
        <div id="div2" onclick="select('Settings')">
          <p id="b">Settings</p>
        </div>
      </a>
      </a>
        <a href="/cam">
        <div id="div3" onclick="select('Read')">
          <p id="c">Read</p>
        </div>
      </a>
        <a href="/cam">
        <div id="div4" onclick="select('Currnecy')">
          <p id="d">Currency</p>
        </div>
      </a>

</body>
</html>